<h2>Users</h2>

<p *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</p>

<table *ngIf="user.length > 0" border="1" cellpadding="8" cellspacing="0">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
      <th style="width: 180px;">Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let u of user">
      <td>{{ u.id }}</td>
      <td>{{ u.name }}</td>
      <td>{{ u.username }}</td>
      <td>{{ u.email }}</td>
      <td>
        <a [routerLink]="['/user/edit', u.id]">Edit</a>
        &nbsp;|&nbsp;
        <button (click)="deleteUser(u.id!)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<p *ngIf="!errorMessage && user.length === 0">No users found.</p>

<br />
<a routerLink="/users/create">+ Create User</a>
